.testCard {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testCard:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.testCard:hover p {
  color: var(--font-light);
}

.testCardBadge {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  background-color: var(--secondary-color);
  clip-path: circle(50%);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.testCard:hover .testCardBadge {
  color: var(--font-dark);
}
