.button {
  background-color: var(--primary-color);
  color: var(--font-light);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.button:hover {
    background-color: var(--font-dark);
    color: var(--secondary-color);
}

.secondaryButton {
    background-color: var(--secondary-color);
    color: var(--font-dark);
}

.dangerButton {
    background-color: var(--danger-color);
    color: var(--font-light);
}

.smallFlexButton {
    width: fit-content;
}
